img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-size: contain;
}

h1 {
    font-family:monospace;
    font-style: bold; 
    color:blue;
    font-size: 35px;
}

p{
    font-family:Cambria;
    font-style: italic;
    color:maroon;
    font-size: 20px;
}